@model IEnumerable<AtsWebsite.Models.EventCopy>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.event_title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.major)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.desc)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.notes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dress_code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.off_campus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.city)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.state)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.zipcode)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.event_title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.major)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dress_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.off_campus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.zipcode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.event_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.event_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.event_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
